#fillButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 12px 3px 10px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  height: 40px;
  font-family: inherit;
}

#lightbox {
  visibility: hidden;
  position: absolute;
  background: white;
  border: 5px solid aquamarine;
  z-index: 100;
  width: max-content;
  height: max-content;
  padding: 15px 15px 15px 10px;
  font-size: 18px;
  left: 20%;
  top: 90%;
}

.dimmer {
  background: #000;
  position: absolute;
  opacity: 0.5;
  top: 0;
  z-index: 99;
}

#fillOption {
  padding: 3px 0px 3px 10px;
  border-left: 4px solid transparent;
  text-align: left;
}

#fillOption:hover {
  border-left: 4px solid aquamarine;
}

.chooseFill {
  cursor: pointer;
  background-color: white;
  border: outset 2px black;
  text-shadow: none;
  padding: 5px;
  font-size: 14px;
  font-family: "Comic Sans MS", normal;

  display: inline-block;
  margin-right: 10px;
  text-align: right;
}
.chooseFill:hover {
  background-color: aquamarine;
}

#fullColor,
#gradColor1,
#gradColor2 {
  cursor: pointer;
  border: none;
  z-index: -5;
  width: 40px;
  block-size: 40px;
  inline-size: 40px;
  vertical-align: middle;
  background-color: transparent;
  padding: 0px 0px 0px 2px;
  margin-left: 2px;
}
#fullColor::-webkit-color-swatch,
#gradColor1::-webkit-color-swatch,
#gradColor2::-webkit-color-swatch {
  border: 0px solid black;
  border-radius: 15%;
}
#fullColor::-moz-color-swatch,
#gradColor1::-moz-color-swatch,
#gradColor2::-moz-color-swatch {
  border: 0px solid black;
  border-radius: 15%;
}

#horiChosen {
  visibility: hidden;
  display: none;
}
