#imageEditor {
  width: 220px;
  margin: 5px 2.5% 0px 0%;
}

#imageEditorRow {
  display: inline-flex;
  width: 100%;
  /* justify-content: center; */
  justify-content: flex-end;
  margin: 5px 0px;
}

#toolbutton2 {
  cursor: pointer;
  background-color: beige;
  border: outset 3px cornflowerblue;
  text-shadow: none;
  padding: 8px 10px;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
}

#invertButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px cornflowerblue;
  padding: 8px 10px;
  font-size: 14px;
  display: inline-block;
  font-family: inherit;
}

#tintButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px cornflowerblue;
  padding: 8px 10px;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
}

#deleteImgButton {
  cursor: pointer;
  background-color: cornflowerblue;
  border: outset 3px cornflowerblue;
  padding: 8px 8px;
  font-size: 14px;
  display: inline-block;
}

#noTintButton {
  cursor: pointer;
  background-color: cornflowerblue;
  border: outset 3px cornflowerblue;
  padding: 8px 8px;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
}

#download {
  cursor: pointer;
  background-color: lawngreen;
  border: outset 3px lawngreen;
  padding: 8px 10px;
  font-size: 14px;
  display: inline-block;
  margin-right: 8px;
}
