#painttools {
  float: left;
  margin: 0 auto;
  width: 80%;
  display: inline-flex;
  height: fit-content;
  font-family: "Comic Sans MS", cursive;
  justify-content: center;
  align-items: baseline;
}

#fillEditor {
  width: 190px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 1%;
  justify-content: flex-start;
}
#paintEditor {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  justify-content: flex-start;
  margin-right: 0%;
}
#shapeEditor {
  /* pathType, circle, draw/end shape */
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: flex-start;
  margin-right: 2%;
}
#deleteEditor {
  /* undo, clear */
  width: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 3%;
  justify-content: flex-start;
}

#helpEditor {
  /* help */
  width: 90px;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

#opacityButton {
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 0px 5px;
  font-size: 14px;
  display: inline-block;
  align-content: center;
  height: 34px !important;
  margin-top: 10px;
}
#opacityButton > label {
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 1.5px;
}
#opacity {
  width: 70px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
#opacity::-webkit-slider-runnable-track {
  background: black;
  height: 1.5px;
  border-radius: 15%;
}
#opacity::-moz-range-track {
  background: black;
  height: 1.5px;
  border-radius: 15%;
}
#opacity::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: aquamarine;
  height: 20px;
  width: 12px;
  border-radius: 50%;
  border: 1.25px solid black;
  transform: rotate(20deg);
  cursor: pointer;
}
#opacity::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: aquamarine;
  height: 20px;
  width: 12px;
  border-radius: 50%;
  border: 1.25px solid black;
  transform: rotate(20deg);
  cursor: pointer;
}

#styleForm {
  padding: 0px;
  display: inline-block;
  margin-right: 0px;
  height: 40px;
}

#strokeStyles {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  font-family: inherit;
}
.styleOption {
  background-color: aquamarine;
}

#capStyles {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px 3px 0px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  font-family: inherit;
}
.capOption {
  background-color: aquamarine;
}

#widthButton {
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 0px 5px;
  font-size: 14px;
  display: inline-block;
  align-content: center;
  height: 34px !important;
  margin-top: 10px;
}
#widthButton > label {
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 1.5px;
}
#sSize {
  width: 80px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
#sSize::-webkit-slider-runnable-track {
  background: black;
  height: 1.5px;
  border-radius: 15%;
}
#sSize::-moz-range-track {
  background: black;
  height: 1.5px;
  border-radius: 15%;
}
#sSize::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: aquamarine;
  height: 20px;
  width: 12px;
  border-radius: 50%;
  border: 1.25px solid black;
  transform: rotate(20deg);
  cursor: pointer;
}
#sSize::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: aquamarine;
  height: 20px;
  width: 12px;
  border-radius: 50%;
  border: 1.25px solid black;
  transform: rotate(20deg);
  cursor: pointer;
}

#colorButton {
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 0px 2px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
}
#colorPicker,
#colorPicker2 {
  cursor: pointer;
  border: none;
  z-index: -5;
  width: 34px;
  block-size: 34px;
  inline-size: 34px;
  vertical-align: middle;
  background-color: transparent;
  padding: 0px;
}
#colorPicker2 {
  display: none;
  visibility: hidden;
}
#colorPicker::-webkit-color-swatch,
#colorPicker2::-webkit-color-swatch {
  border: 0px;
  border-radius: 0%;
}
#colorPicker::-moz-color-swatch,
#colorPicker2::-moz-color-swatch {
  border: 0px;
  border-radius: 0%;
}

#shapebutton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  height: 40px;
}
#endShapeButton {
  cursor: pointer;
  background-color: aquamarine;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
}

#endLinesButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  height: 40px;
}

#circleButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  height: 40px;
}

#clearbutton {
  cursor: pointer;
  background-color: aquamarine;
  border: outset 3px aquamarine;
  padding: 3px 8px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
}

#eraseLast {
  cursor: pointer;
  background-color: aquamarine;
  border: outset 3px aquamarine;
  padding: 3px 10px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  height: 40px;
}
