#painttools {
  float: left;
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  font-family: "Comic Sans MS", cursive;
}

#paintEditor {
  width: 70%;
  /* width: 620px; */
  float: left;
  height: fit-content;
  font-family: "Comic Sans MS", cursive;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

#sSize {
  font-family: inherit;
  width: 60px;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 28px;
}
#opacity {
  font-family: inherit;
  width: 70px;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 28px;
}
#styleForm {
  padding: 0px;
  display: inline-block;
  margin-right: 0px;
  height: 40px;
}

#strokeStyles {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
  font-family: inherit;
}
.styleOption {
  background-color: aquamarine;
}

#capStyles {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px 3px 0px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
  font-family: inherit;
}
.capOption {
  background-color: aquamarine;
}

#colorButton {
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 0px 2px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}

#colorPicker,
#colorPicker2 {
  cursor: pointer;
  border: none;
  z-index: -5;
  width: 34px;
  block-size: 34px;
  inline-size: 34px;
  vertical-align: middle;
  background-color: transparent;
  padding: 0px;
}
#colorPicker2 {
  display: none;
  visibility: hidden;
}
#colorPicker::-webkit-color-swatch,
#colorPicker2::-webkit-color-swatch {
  border: 0px;
  border-radius: 0%;
}
#colorPicker::-moz-color-swatch,
#colorPicker2::-moz-color-swatch {
  border: 0px;
  border-radius: 0%;
}
/* 
#colorPicker, #colorPicker2 {
  // 1.0
  cursor: pointer;
  border: none;
  z-index: -5;
  width: 30px;
  block-size: 30px;
  inline-size: 30px;
  vertical-align: middle;
  background-color: transparent;
  padding: 0px 0px 0px 2px;

  //2.0
  cursor: pointer;
  border: none;
  z-index: -5;
  width: 30px;
  block-size: 31px;
  inline-size: 30px;
  vertical-align: middle;
  background-color: transparent;
  padding: 0px 1px;
  margin: 0px 2px;
}
*/

#shapebutton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}
#endShapeButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}

#endLinesButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}

#circleButton {
  cursor: pointer;
  background-color: beige;
  border: outset 3px aquamarine;
  text-shadow: none;
  padding: 3px 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}

#clearbutton {
  cursor: pointer;
  background-color: aquamarine;
  border: outset 3px aquamarine;
  padding: 3px 8px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  height: 40px;
}

#eraseLast {
  cursor: pointer;
  background-color: aquamarine;
  border: outset 3px aquamarine;
  padding: 3px 10px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
  height: 40px;
}
