body{
    zoom: 110%;
}
#pageBody {
    background-color: cornflowerblue; 
    position: absolute; 
    width: 100%; 
    height:fit-content;
    margin: 0 auto;
    cursor:default;
}

#bounceContainer {
    margin: 0 auto; 
    height: 120px;
    background-color:mediumpurple;
    text-align: center;
    border-style: solid;
    border-color:aquamarine;
    border-width: 5px;
    padding: 0%;
    margin-right: 200px;
    margin-left: 200px;
}
h4{
    padding-top: 25px;
    font-family: "Comic Sans MS", cursive;
}
h5{
    font-family: "Comic Sans MS", cursive;
    margin-top: 10px;
    display: inline-block;
}
#canvas-containter {
    margin: 0 auto; 
    height: fit-content;
    background-color: cornflowerblue;
    text-align: center;
    border: 5px aquamarine solid;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
#canvas-info {
    text-align: left; 
    background-color: mediumpurple; 
    padding-bottom: 5px;
    margin: 0; 
    padding-left: 20px; 
    padding-top: 10px;
    padding-right: 20px;
    min-height: 125px;
    height: fit-content;
    width: auto;
    position: relative;
    margin-bottom: 0px;
}


#toolboxButton {
    cursor: default; 
    background-color: aquamarine; 
    border-radius: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    rotate: 45deg;
    border-color: aquamarine;
    border-style:hidden;
    color: white;
    padding-left: 5px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px; 
    text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em cornflowerblue;
    margin: 0 auto;
    max-height: 125px;
}
#toolboxButton2 {
    cursor: default; 
    background-color: cornflowerblue; 
    border-radius: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    rotate: 45deg;
    border-color: aquamarine;
    border-style:hidden;
    color: white;
    padding-left: 5px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px; 
    text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em aquamarine;
    margin: 0 auto;
    max-height: 125px;
}
#toolboxtext1 {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    float: left;
    font-style: italic;
    
}
#toolboxtext2 {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    float: left;
    font-style: italic;
}

#painttools {
    float:left; 
    margin:0 auto; 
    width: 82%; 
    height: fit-content;
    font-family: "Comic Sans MS", cursive; 
}
#sSize{
    font-family: inherit; 
    width: 60px; 
    background-color: beige;               
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 28px;
}
#opacity{
    font-family: inherit; 
    width: 70px; 
    background-color: beige;               
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 28px;
}
#styleForm{
    padding: 0px; 
    display: inline-block;
    margin-right: 0px;
    height: 40px;
}

#strokeStyles{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
    font-family: inherit;
}
.styleOption{
    background-color: aquamarine;
}

#capStyles{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
    font-family: inherit;
}
.capOption{
    background-color: aquamarine;
}

#toolbutton {
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
}
#colorPicker{
    cursor: pointer; 
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    padding-bottom: 3px;
    display: inline-block;
    border: none;
    z-index: -5;
}

#shapebutton {
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow:none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
}
#endShapeButton{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow: none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
}

#endLinesButton{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow: none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
}

#circleButton{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px aquamarine; 
    text-shadow: none; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 40px;
}

#clearbutton{
    cursor: pointer; 
    background-color: aquamarine; 
    border: outset 3px aquamarine; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    height: 40px;
}


#eraseLast{
    cursor: pointer; 
    background-color: aquamarine; 
    border: outset 3px aquamarine; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    height: 40px;
}

#toolbutton2 {
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px cornflowerblue; 
    text-shadow:none; 
    padding: 3px; 
    padding-top: 9px;
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    height: 28px;    
}

#fitImgButton{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px cornflowerblue; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    height: 40px;
}

#deleteImgButton{
    cursor: pointer; 
    background-color: cornflowerblue; 
    border: outset 3px cornflowerblue; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    height: 40px;
}

#tintButton{
    cursor: pointer; 
    background-color: beige; 
    border: outset 3px cornflowerblue; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    height: 40px;
}


#noTintButton{
    cursor: pointer; 
    background-color: cornflowerblue; 
    border: outset 3px cornflowerblue; 
    padding: 3px; 
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    height: 40px;
}

#imageEditor {
    float:left; 
    margin:0; 
    width: 35%; 
    height: fit-content;
    font-family: "Comic Sans MS", cursive; 
    margin-top: 10px; 
    margin-bottom: 0px;
}

#paintEditor {
    float:left; 
    margin:0; 
    width:65%; 
    height: fit-content;
    font-family: "Comic Sans MS", cursive; 
    margin-top: 10px; 
    margin-bottom: 0px;
    
    
}

#paintbox {
    background-color: mediumpurple;
    margin: 0 auto;
    height: 576px;
    padding-top: 32px;
    margin-top: 0px;
    border-top: 2px aquamarine dashed;
}
#paintdest {
    margin: 0 auto;
    margin-top: 0px;
    height: 512px;
    width: 768px;
    background-color: beige;
    border:1px solid #000000;
}


.open-button {
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    height: 40px;
    font-family: "Comic Sans MS", cursive;
    background-color: red;
    color: black;
    padding: 3px;
    border: outset 3px red;
    cursor: pointer;
    opacity: 0.8;
    
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    border: 10px solid aquamarine;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    padding: 10px;
    background-color: white;
    position: sticky;
  }
  
  
  /* Set a style for the submit/login button */
  .form-container .cancel {
    background-color: mediumpurple;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    position: inherit;
    left: 80%;
    font-size: 18px;   
    opacity: 0.8;
    font-family: "Comic Sans MS", cursive;
  }

  
  /* Add some hover effects to buttons */
  .form-container .cancel:hover, .open-button:hover {
    opacity: 1;
  }

td {
    border-top: 2px dashed black;
    padding: 4px;
    padding-right: 6px;
    border-left: 2px dashed gray; 
}

th {
    border-top: 2px dashed black;
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    padding-right: 10px;
}

#myLinks {
    margin: 0 auto; 
    text-align: center; 
    margin: 5px; 
    padding-bottom: 5px; 
    font-family: "Comic Sans MS", cursive;
}