:root {
  --main-green: #70c133;
  --accent-green: #f7fcd4;
  --main-grey: #6f7e7d;
  --main-black: #1d1d1d;
  --big-font: 30px monospace;
}

body {
  zoom: 100% !important;
  background-color: var(--main-black);
}

#header {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 90%;
  height: max-content;
  z-index: 5;
  background-color: var(--accent-green);
  border-style: solid;
  border-color: var(--main-green);
  border-width: 3px;
  padding: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font: var(--big-font);
}

#gameDisplay {
  margin: 0 auto;
  height: 600px;
  width: 1000px;
  background-color: var(--main-grey);
  border-style: solid;
  border-color: var(--main-green);
  border-width: 5px;
  padding: 0%;
}

#canvas-containter {
  margin: 0 auto;
  height: fit-content;
  background-color: cornflowerblue;
  text-align: center;
  border: 5px aquamarine solid;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}
#canvas-info {
  text-align: left;
  background-color: mediumpurple;
  padding-bottom: 5px;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  min-height: 125px;
  height: fit-content;
  width: auto;
  position: relative;
  margin-bottom: 0px;
}

#toolboxButton {
  cursor: default;
  background-color: aquamarine;
  border-radius: 20px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  rotate: 45deg;
  border-color: aquamarine;
  border-style: hidden;
  color: white;
  padding-left: 5px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em cornflowerblue;
  margin: 0 auto;
  max-height: 125px;
}
#toolboxButton2 {
  cursor: default;
  background-color: cornflowerblue;
  border-radius: 20px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  rotate: 45deg;
  border-color: aquamarine;
  border-style: hidden;
  color: white;
  padding-left: 5px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  text-shadow: 1px 1px 2px mediumpurple, 0 0 1em mediumpurple, 0 0 0.2em aquamarine;
  margin: 0 auto;
  max-height: 125px;
}
#toolboxtext1 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  float: left;
  font-style: italic;
}
#toolboxtext2 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding: 0px;
  margin: 0px;
  padding-bottom: 0px;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  float: left;
  font-style: italic;
}

#paintbox {
  background-color: mediumpurple;
  margin: 0 auto;
  height: 576px;
  padding-top: 32px;
  margin-top: 0px;
  border-top: 2px aquamarine dashed;
}
#paintdest {
  margin: 0 auto;
  margin-top: 0px;
  height: 512px;
  width: 768px;
  background-color: beige;
  border: 1px solid #000000;
}

td {
  border-top: 2px dashed black;
  padding: 4px;
  padding-right: 6px;
  border-left: 2px dashed gray;
}

th {
  border-top: 2px dashed black;
  font-weight: bold;
  font-size: large;
  padding-bottom: 10px;
  padding-right: 10px;
}

#nvmTakeMeBack {
  background-color: black;
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
  color: #ffc1ab;
  padding: 10px 12px;
  border: 2px #ed4040 solid;
  font-family: monospace;
}
#nvmTakeMeBack:hover {
  background-color: #c2ff95;
  color: black;
  border: 3px var(--accent-green) solid;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
  font-style: italic;
}
#nvmTakeMeBack > i {
  font-style: italic;
  font-weight: 100;
  font-size: 17px;
  color: #ffe6dd;
}
#nvmTakeMeBack:hover > i {
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  font-style: normal;
}
